@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: black;
    background-image: url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgba(255, 255, 255, 0.514);
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    padding: 5px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

img#pc {
    display: none;
}

img#imp {
    display: none;
}

img#tab {
    display: none;
}

img#tv {
    display: none;
}

